<footer class="text-center text-white" style="background-color: #caced1;">
    <!-- Grid container -->
    <div class="container p-4">
        <!-- Section: Images -->
        <section class="">
            <div class="row">
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div>
                        <img src="https://i.imgur.com/wLaKt9C.jpg" class="w-100" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div>
                        <img src="https://i.imgur.com/ywcF5Wr.jpg" class="w-100" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div>
                        <img src="https://i.imgur.com/PCFJ8cY.png" class="w-100" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div>
                        <img src="https://i.imgur.com/wznfAh8.jpg" class="w-100" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <div>
                        <img src="https://i.imgur.com/eucBsFN.jpg" class="w-100" />
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                    </div>
                </div>
                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                    <img src="https://i.imgur.com/7xSaXsg.jpg" class="w-100" />
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>

                </div>
            </div>
    </div>
    </section>
    <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: slategrey;">
        © 2022 Copyright:
        <a class="text-white" href="https://github.com/Sergoto">Website created by Sergoto</a>
    </div>
    <!-- Copyright -->
</footer>