<header>
    <nav>
        <a href="/">Team Fight Tactics DB</a>
        <ul>
            <li><a href ="/champions">Champions</a></li>
            <li><a href ="/champions/new">Add Champion</a></li>
        </ul>
         <ul>
            <li><a href ="/items">Items</a></li>
            <li><a href ="/items/new">Add Item</a></li>
        </ul>
        <ul>
            <li><a href ="/traits">Traits</a></li>
            <li><a href ="/traits/new">Add Trait</a></li>
        </ul>
    </nav>
</header>