<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <a href="/champions" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="https://i.imgur.com/JcWlX5c.jpg" alt="champ-link">
        </div>
        <div class="link-1">Champions</div>
    </a>
        <a href="/items" class="col text-center category_link">
            <div class="category_img shadow">
                <img src="https://i.imgur.com/UbNETfU.jpg" alt="item-link">
            </div>
            <div class="link-2">Items</div>
        </a>
            <a href="/traits" class="col text-center category_link">
                <div class="category_img shadow">
                    <img src="https://i.imgur.com/GIVMIu9.jpg?1" alt="trait-link">
                </div>
                <div class="link-3">Traits</div>
            </a>
</div>

<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="https://i.imgur.com/4X4wFC8.jpg" width="607" height="510" class="d-block mx-lg-auto img-fluid" alt="Tft-group">
    </div>

    <div class="col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3">Team Fight Tactics DB</h1>
        <p class="lead">
            Teamfight Tactics (TFT) is an auto battler game developed and published by Riot Games. The game is a spinoff
            of League
            of Legends and is based on Dota Auto Chess, where players compete online against seven other opponents by
            building a
            team to be the last one standing. There are also multiple modes of the game which include: Normal, Ranked,
            HyperRoll.
            The purpose of this page is to help players search and learn about the various champions and items throughout the game.
        </p>

        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="https://teamfighttactics.leagueoflegends.com/en-us/"
                class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Official TFT Website</a>
            <a href="https://mobalytics.gg/blog/tft-guide/" class="btn btn-outline-secondary btn-lg px-4 me-md-2">TFT
                Guide: How to Play</a>
        </div>

    </div>

</div>