:root {
  --bs-font-sans-serif: "Roboto", sans-serif;
}

body {
  background-color: slategray;
}

.container-xxl {
  max-width: 1500px;
}

.champheader {
  text-align: center;
}

.category_link {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: 250ms all;
}

.category_link:hover {
  transform: scale(1.2);
}

.category_img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  margin-bottom: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 10px;
}

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, max-content));
  grid-gap: 16px;
  flex-direction: column;
}

.cards {
  border: 1px black solid;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #1a283f;
}

.champ-bg {
  object-fit: cover;
}

.font {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  word-wrap: break-word;
  color: #adadad;
}

.buttonContainer {
  padding: 10px 0px;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.add {
  background-color: teal;
  color: white;
}

.inputParent {
  padding: 10px 0px;
}

.form {
  width: 50%;
}

.input {
  width: 100%;
}

.cancel {
  background-color: black;
  color: white;
}

.submit {
  background-color: teal;
  color: white;
}

.view {
  background-color: goldenrod;
  color: white;
}

.cardButtons {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
